@using TCC.Domain.Enums;
@model TCC.Application.ViewModels.AulaViewModel

@{
    ViewData["Title"] = "LogPlay - Aulas";
}

<div class="aula-main-container">
    <div class="pdf-container">
        <embed src="~/assets/pdf/@Html.DisplayFor(m => m.ContentUrl)" type="application/pdf" />
    </div>
    <div class="exercicios-container">
        <h2>Exercícios</h2>
        <form>
            @foreach (var exercicio in Model.Exercicios)
            {
                <div class="exercicio-element">
                    <h3>@exercicio.Enunciado</h3>
                </div>
            }
        </form>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/css/Aulas/detalhes.css" asp-append-version="true" />
}