@page
@using TCC.UI.Web.Areas.Identity.Pages.Login;
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<style>
    .confirm-email-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
    }

    .confirm-email-container > h1{
        color: var(--verde-destaque);
    }
</style>


<div class="confirm-email-container">
    <h1>@ViewData["Title"]</h1>

    <p>Enviamos um email de confirmação para o endereço informado. Por favor verifique sua caixa de entrada para confirmar a conta.</p>
</div>
