@page
@using TCC.UI.Web.Areas.Identity.Pages.Login;
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <p>
            Não enviaremos um email real para o endereço cadastrado para efeitos de teste.
            Clique neste link para simular a confirmação da conta:<a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a conta.</a>
        </p>
    }
    else
    {
<p>
        Por favor, verifique seu email para confirmar a conta.
</p>
    }
}

