@page
@using TCC.UI.Web.Areas.Identity.Pages.Login;
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de registro";
}

<style>
    .confirm-email-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100vw;
        height: 50vh;
    }

    .confirm-email-container > h1{
        color: var(--verde-destaque);
    }

    a{
        color: var(--verde-destaque);
    }

    a:hover{
            color: var(--verde-destaque);
        }
</style>


<div class="confirm-email-container">
    <h1>@ViewData["Title"]</h1>

    <p>
        Clique neste link para simular a confirmação da conta:<br /><a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar a conta.</a>
    </p>
</div>
