body {
}
main pb-3 {
    padding-bottom:0px;
}

.aula-main-container {
    margin-top: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
}

.banner-aula {
    padding: 20px;
    margin: 55px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)30%,#000 100%);
}

.descricao-aula {
    color: white;
    text-transform: uppercase;
    font-size: 1.5em;
}

.titulo-aula {
    color: var(--verde-destaque);
    font-size: 2.5em;
}

.voltar-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)30%,#000 100%);
}

.botao-voltar a {
    margin-top: 20px;
    margin-bottom: 1px;
    outline-color: transparent;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    color: #00ff88;
    text-decoration: none;
    border: 2px solid #00ff88;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

    .botao-voltar a:hover {
        background-color: darkgreen;
        border: 2px solid white;
    }

.pdf-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 00%;
}

/*.pdf-container > embed {
    width: 85%;
    height: 100%;
}*/

/*.verificar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 50%;
    background-color: var(--roxo-claro1);
}*/
.verificar-section {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)30%,#000 100%);
}

.botao-verificar button {
    margin-top: 20px;
    margin-bottom: 20px;
    outline-color: transparent;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    color: #00ff88;
    text-decoration: none;
    border: 2px solid #00ff88;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

    .botao-verificar button:hover {
        background-color: darkgreen;
        border: 2px solid white;
    }


.concluir-section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0, rgba(0,0,0,0)30%,#000 100%);
}

.botao-concluir {
    margin-top: 0px;
}

.botao-concluir a {
    margin-top: 20px;
    margin-bottom: 1px;
    outline-color: transparent;
    display: inline-block;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    color: #00ff88;
    text-decoration: none;
    border: 2px solid #00ff88;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.botao-concluir a:hover {
    background-color: darkgreen;
    border: 2px solid white;
}

#pdfFrame {
    background-color: darkslateblue; /* Substitua "seucordefundo" pela cor do seu site */
    width: 100%; /* Largura desejada */
    height: 500px; /* Altura desejada */
}

/*img{
    width: 58em;
    height:70em;
}*/

.exercicios-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: var(--roxo-claro1);
}

.exercicio-element {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}
    .exercicios-container h2 {
        color: var(--verde-destaque);
        font-size: 2.9em;
        padding:20px;
    }
    .exercicio-element h3 {
        text-align:center;
        margin-top:80px;
        text-transform: uppercase;
        font-size: 1.5em;
        margin-bottom:80px;
    }
    .exercicio-element label {
    display: block;
    margin-bottom: 10px;

    }
    .exercicio-element input {
    width:18px;
    height:18px;
    }

.botao-verificar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction:column;
}

.botao-verificar > button{
    width: 100%;
}

.enunciado-exercicio {
    color: var(--verde-destaque);
}

#Resposta{
    accent-color: var(--verde-destaque);
}

@media only screen and (max-width:600px) {

    img {
        width:600px;
        height:800px;
    }
    
    }
}