body {
}
.titulo {
    text-align: center; /* Centraliza o texto horizontalmente */
    padding: 20px;
    color: var(--verde-destaque);
    margin-top: 50px;
    
}

.tabela {
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 50%; /* Largura da tabela */
    border-collapse: collapse;
    background-color: var(--roxo-claro2);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1.5);
}

    .tabela th, .tabela td {
        padding: 10px;
        text-align: center;
    }

    .tabela th {
        background-color: var(--roxo-claro1);
        color: #fff;
    }

    .tabela tr:nth-child(odd) {
        background-color: var(--roxo-escuro);
    }